{
	{$CADDY_GLOBAL_OPTIONS}

	admin {$CADDY_SERVER_ADMIN_HOST}:{$CADDY_SERVER_ADMIN_PORT}

	order header before file_server

	frankenphp {
		worker {
			file "{$APP_PUBLIC_PATH}/frankenphp-worker.php"
			{$CADDY_SERVER_WORKER_DIRECTIVE}
			{$CADDY_SERVER_WATCH_DIRECTIVES}
		}
	}
}

{$CADDY_EXTRA_CONFIG}

:8000, convomate.uz, https://convomate.uz {
	log {
		level {$CADDY_SERVER_LOG_LEVEL}

		# Redact the authorization query parameter that can be set by Mercure...
		format filter {
			wrap {$CADDY_SERVER_LOGGER}
			fields {
				uri query {
					replace authorization REDACTED
				}
			}
		}
	}

	tls /data/caddy/certs/cert.pem /data/caddy/certs/key.pem

	route {
		root * "{$APP_PUBLIC_PATH}"
		encode zstd br gzip

		@build path /build/* /assets/* /favicon.ico
		@ext path_regexp \.(ico|css|js|gif|jpg|jpeg|png|svg|woff|woff2|ttf|eot)$

		header @build Cache-Control "public, max-age=31536000, immutable" {
			defer
		}
		header @ext Cache-Control "public, max-age=31536000, immutable" {
			defer
		}

		# Mercure configuration is injected here...
		{$CADDY_SERVER_EXTRA_DIRECTIVES}

		php_server {
			index frankenphp-worker.php
			try_files {path} frankenphp-worker.php
			resolve_root_symlink
		}
	}
}
